
<br><br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class ="container">
  <center><h1> {{detail.country}}'s Information</h1>
  </center>

  <br>

   <center>
    <h4><strong> {{detail.country}}</strong></h4><br>
    <h5><span >  <span Style = "Color : green"><strong>{{detail.country}}</strong></span> lies in <span Style = "Color : blue"><strong>{{detail.continent}}</strong></span> Continent.<br>
  <span >    Total Population of <span Style = "Color : green"><strong>{{detail.country}}</strong></span>    : {{detail.population}}<br></h5>
  <a href ="/abc/{{detail.countryInfo._id}}"><img src = "{{detail.countryInfo.flag}}" /></a><br>
 <br>
  <h5>

  <span Style = "Color : yellow"> <strong>Total Covid Cases     :</span> {{detail.cases}}<br>
  <span Style = "Color : green">  Total Recovered :  </span>{{detail.recovered}}<br>
  <span Style = "Color : red">    Total Deaths    :</span> {{detail.deaths}}<br>
  <span Style = "Color : blue">    Active Cases    : </span>{{detail.active}}<br>
  <span Style = "Color : orange">    Critical Cases  : </span>{{detail.critical}}<br>
  <span Style = "Color : pink">    Total Tests Done    : </span>{{detail.tests}}<br>
  <span Style = "Color : brown">    Today's Cases     : </span>{{detail.todayCases}}<br>
  <span Style = "Color : purple">    Today's Deaths    : </span>{{detail.todayDeaths}}<br>
  <span Style = "Color : magenta">    Today's Recovered : </span>{{detail.todayRecovered}}</strong>
  </h5>
  <br>
</center>

</div>
